certifi==2025.7.9
cffi==1.17.1
charset-normalizer==3.4.2
ConfigArgParse==1.7.1
cryptography==45.0.5
idna==3.10
marshmallow==4.0.0
marshmallow-oneofschema==3.2.0
packaging==25.0
pyaml==25.5.0
pycparser==2.22
pyparsing==3.2.3
PyYAML==6.0.2
requests==2.32.4
urllib3==2.5.0
